#Assignment 2

1. Write a program to accept percentage from the user and display the grade according to the following 
criteria:
Marks                      Grade
 >90                         A
>80 and <=90                 B
>=60 and <=80                C
below 60                     D

In [4]:
print("enter the persetage of student")
n=int(input())
if(n>90):
    print("Student  grade is : A ")
elif(90>=n>80):
     print("Student grade is : B ")
elif(80>=n>60):
     print("Student grade is : C")
else:
    print("Studade is : D")

enter the persetage of student

 83

Student gtade is : B

2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the 
following criteria: 

Tax                  Cost price(in RS)
15%                   >100000
10%                   >50000 and <=100000
5%                    <=5000

In [3]:
print("enter the price of bike ")
price=int(input())
if(price > 100000):
    print("you have to pay rod tax 15%")
elif(100000 >= price >50000):
    print("you have to pay rod tax 10%")
else:
    print("you have to pay rod tax 5%")

enter the price of bike

 120000

you have to pay rod tax 15%

3. Accept any city from the user and display monuments of that city. 

City            Monument
Delhi           Red fort
Agra            Taj Mahal
Jaipur          Jal mahal

In [6]:
print("Enter the city name to get name of monument")
city=str(input())
if(city=="Delhi"):
    print("the monument in Delhi is Rd Fort")
elif(city=="Agra "):
    print("the monument in Agra is Taj Mahal")
elif(city=="Jaipur"):
    print("the monument in Jaipur is Jal Mahal")
else:
    print("for inter city no monument name avalable")

Enter the city name to get name of monument

 Jaipur

the monument in Jaipur is Jal Mahal

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [6]:

print("Enter the number x ")
x=int(input())
def count_division(x):
    count=0
    while x>10:
        x=x/3
        count+=1
    return count

result=count_division(x)
print(result)

Enter the number x

 1000

5

5. Why and When to Use while Loop in Python give a detailed description with example 

ANS: 
    A while loop in Python is used to repeatedly execute a block of code as long as a specified condition is true. We would use the while loop when you need to execute a block of code multiple times, provided a certain condition is met.It allows the program to keep executing a block of code until a specific condition is no longer true.
    while loop is used when we need to exucute the block of code number of time. It iterate the block code untile the "While" loop condition is becomes false.
     syntax:
         while condition:
    
 Example:

In [1]:
#An example of a simple while loop that prints numbers from 1 to 5:
number = 1
while number <= 5:
    print(number)
    number += 1

1
2
3
4
5

6. Use nested while loop to print 3 different pattern

In [8]:
# 1. printing the square pattern 

print("enter the number of star ")
n=int(input())
i=0
while i<n:
    j=0
    while j<n:
        print("*",end=' ')
        j+=1
    print()
    i+=1

 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [12]:
# 2. printing star pattern right triangle

print("Enter the number ")
n=int(input())
i=0
while i<n:
    j=0
    while j<=i:
        print("*",end=" ")
        j+=1
    print()
    i+=1

Enter the number

 5

*
* *
* * *
* * * *
* * * * *

In [15]:
# printing full pyramide star pattern

print("enter the number")
n=int(input())
i = 1
while i <=n:
    # Print spaces
    spaces = n - i
    while spaces > 0:
        print(" ", end=' ')
        spaces -= 1

    # Print stars
    j = 1
    while j <= i:
        print("* ", end=' ')
        j += 1

    print()
    i += 1

enter the number

 6

          *
        *  *
      *  *  *
    *  *  *  *
  *  *  *  *  *
*  *  *  *  *  *

7. Reverse a while loop to display numbers from 10 to 1.

In [1]:
number = 10
while number >= 1:
    print(number)
    number -= 1

10
9
8
7
6
5
4
3
2
1